<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        https://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <jpa:repositories base-package="com.kyojin.tawsila.repository" />

    <context:component-scan base-package="com.kyojin.tawsila.mapper"/>


    <!-- ============== BEANs ============== -->
    <bean id="warehouse" class="com.kyojin.tawsila.entity.Warehouse">
        <property name="address" value="Darbida"/>
        <property name="latitude" value="33.5731"/>
        <property name="longitude" value="-7.5898"/>
        <property name="openTime" value="06:00"/>
        <property name="closeTime" value="22:00"/>
    </bean>

    <bean id="vehicleMapper" class="com.kyojin.tawsila.mapper.VehicleMapperImpl" />
    <bean id="deliveryMapper" class="com.kyojin.tawsila.mapper.DeliveryMapperImpl" />
    <bean id="tourMapper" class="com.kyojin.tawsila.mapper.TourMapperImpl" />

    <bean id="vehicleService" class="com.kyojin.tawsila.service.impl.VehicleServiceImpl">
        <constructor-arg ref="vehicleRepository" />
        <constructor-arg ref="vehicleMapper" />
    </bean>

    <bean id="deliveryService" class="com.kyojin.tawsila.service.impl.DeliveryServiceImpl" >
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="deliveryMapper" />
        <constructor-arg ref="tourRepository"/>
    </bean>

    <bean id="tourService" class="com.kyojin.tawsila.service.impl.TourServiceImpl">
        <constructor-arg ref="tourMapper"/>
        <constructor-arg ref="tourRepository"/>
        <constructor-arg ref="vehicleRepository" />
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="warehouse"/>
        <constructor-arg ref="nearestNeighborOptimizer"/>
        <constructor-arg ref="clarkeWrightOptimizer"/>
    </bean>

    <bean id="nearestNeighborOptimizer" class="com.kyojin.tawsila.optimizer.impl.NearestNeighborOptimizer"/>
    <bean id="clarkeWrightOptimizer" class="com.kyojin.tawsila.optimizer.impl.ClarkeWrightOptimizer"/>

</beans>