<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        https://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <jpa:repositories base-package="com.kyojin.tawsila.repository" />

    <context:component-scan base-package="com.kyojin.tawsila.mapper"/>


    <!-- ============== BEANs ============== -->

    <bean id="vehicleMapper" class="com.kyojin.tawsila.mapper.VehicleMapperImpl" />
    <bean id="deliveryMapper" class="com.kyojin.tawsila.mapper.DeliveryMapperImpl" />

    <bean id="vehicleService" class="com.kyojin.tawsila.service.impl.VehicleServiceImpl">
        <constructor-arg ref="vehicleRepository" />
        <constructor-arg ref="vehicleMapper" />
    </bean>

    <bean id="deliveryService" class="com.kyojin.tawsila.service.impl.DeliveryServiceImpl" >
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="deliveryMapper" />
    </bean>

</beans>